<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/7dfdb9c6-684b-4a40-8691-2b4d303edd98/resourceGroups/Demo/providers/Microsoft.Web/sites/securitydemo-server</ResourceId>
    <ResourceGroup>Demo</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://securitydemo-server.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>91b6a717-9150-4500-a011-50f7a12313bc</ProjectGuid>
    <PublishUrl>https://securitydemo-server.scm.azurewebsites.net/</PublishUrl>
    <UserName>$securitydemo-server</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>