<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Car details</h1>
    <div class="row">
        <form class="col-5" method="POST" th:action="@{/cars/__${car.id}__}">
            <div class="form-group">
                <label for="model">Model</label>
                <input type="text" id="model" name="model" class="form-control" th:value="${car.model}">
            </div>
            <div class="form-group">
                <label for="manufacturer">Manufacturer</label>
                <input type="text" id="manufacturer" name="manufacturer" class="form-control" th:value="${car.manufacturer}">
            </div>
            <div class="form-group">
                <label for="personalNumber">Price</label>
                <input type="text" id="personalNumber" name="price" class="form-control" th:value="${car.price}">
            </div>
            <div class="form-group">
                <label for="address">Wholesale Price</label>
                <input type="text" id="address" name="wholesalePrice" class="form-control" th:value="${car.wholesalePrice}">
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
    <h2>Car comments</h2>
    <div class="form-group" th:each="comment,iter : ${comments}">
        <b th:text="${comment.personName}"></b>
        <textarea class="form-control" rows="3" th:id="${iter.index}" th:text="${comment.comment}" disabled></textarea>
    </div>
    <div class="form-group">
        <label for="addComment">Add comment</label>
        <textarea class="form-control" id="addComment" rows="3" placeholder="Comment..."></textarea>
        <button id="createComment" class="btn btn-primary mt-2">Create comment</button>
    </div>

    <script th:inline="javascript">
        const carId = [[${car.id}]];
    </script>

    <script>
        window.addEventListener('load', function() {
            document.getElementById("createComment").addEventListener("click", function () {
                const comment = document.getElementById("addComment").value;

                fetch('/comments', {
                    method: 'POST',
                    body: JSON.stringify({
                        carId: carId,
                        comment: comment
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(function() { window.location.reload(); });
            });
        });
    </script>
</div>
</body>
</html>
