<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Car Details</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Car details</h1>
    <div class="row">
        <form class="col-5" method="POST" th:action="@{/cars/__${car.id}__}">
            <div class="form-group">
                <label for="model">Model</label>
                <input type="text" id="model" name="model" class="form-control" th:value="${car.model}">
            </div>
            <div class="form-group">
                <label for="manufacturer">Manufacturer</label>
                <input type="text" id="manufacturer" name="manufacturer" class="form-control"
                       th:value="${car.manufacturer}">
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="text" id="price" name="price" class="form-control" th:value="${car.price}">
            </div>
            <div class="form-group">
                <label for="wholesalePrice">Wholesale Price</label>
                <input type="text" id="wholesalePrice" name="wholesalePrice" class="form-control"
                       th:value="${car.wholesalePrice}">
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
    <div sec:authorize="hasAuthority('CAN_BUY_CAR')" class="mt-2 mb-2">
        <a th:href="@{'/buy-car/' + ${car.id}}">Buy Car</a>
    </div>
    <h2 id="car-comments">Car comments</h2>
    <div class="form-group" th:each="comment,iter : ${comments}">
        <b th:text="${comment.personName}"></b>
        <div class="form-control" th:id="${iter.index}" th:utext="${comment.comment}" disabled></div>
    </div>
    <div class="form-group">
        <label for="addComment">Add comment</label>
        <textarea class="form-control" id="addComment" rows="3" placeholder="Comment..."></textarea>
        <button id="createComment" class="btn btn-primary mt-2">Create comment</button>
    </div>

    <script th:inline="javascript">
        const carId = [[${car.id}]];
    </script>

    <script>
        window.addEventListener('load', function () {
            document.getElementById("createComment").addEventListener("click", function () {
                const comment = document.getElementById("addComment").value;

                fetch('/comments', {
                    method: 'POST',
                    body: JSON.stringify({
                        carId: carId,
                        comment: comment
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(function () {
                    window.location.reload();
                });
            });
        });
    </script>
</div>
</body>
</html>
