<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Confirm service</title>
</head>
<body>
<div layout:fragment="content">
    <form action="/confirm-service-3" method="POST">
        <div class="form-group">
            <label for="ticketNumber">Ticket number</label>
            <input class="form-control" type="text" id="ticketNumber" disabled th:value="${serviceTicketNumber}">
        </div>

        <div class="form-group">
            <label for="time">Time of day</label>
            <input class="form-control" type="text" id="time" disabled th:value="${time}">
        </div>

        <button type="submit" class="btn btn-primary">Confirm service schedule</button>

    </form>
</div>
</body>
</html>