<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Confirm service</title>
</head>
<body>
<div layout:fragment="content">
    <form action="/confirm-service-2" method="POST">
        <div class="form-group">
            <label for="time">Time of day for service</label>
            <input type="time" required class="form-control" id="time" name="time" />
        </div>
        <button type="submit" class="btn btn-primary">Schedule time</button>
    </form>
</div>
</body>
</html>