<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello world</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Hello people:</h1>
    <ul>
        <li th:each="person: ${personList}">
            <span th:text="${person.getName()}"></span>
        </li>
    </ul>
</div>
</body>
</html>
