<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Users</h1>

    <div class="input-group">
        <input type="text" id="searchInput" class="form-control" placeholder="Search...">
        <div class="input-group-append">
            <button id="searchButton" class="btn btn-outline-secondary" type="button">Search</button>
        </div>
    </div>
    <div class="invisible" id="searchContainer">You searched for <span id="searchTerm"></span></div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Personal Number</th>
            <th scope="col">Address</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="tableContent">
        <tr th:each="person: ${persons}">
            <td th:text="${person.id}"></td>
            <td th:text="${person.firstName}"></td>
            <td th:text="${person.lastName}"></td>
            <td th:text="${person.personalNumber}"></td>
            <td th:text="${person.address}"></td>
            <td><a th:href="@{/persons/{id}(id=${person.id})}">View profile</a></td>
        </tr>
        </tbody>
    </table>

    <script>
        window.addEventListener('load', function() {
            let search = function () {
                const searchTerm = document.getElementById("searchInput").value;

                fetch('/persons/search?searchTerm=' + searchTerm)
                    .then(function (result) {return result.json()})
                    .then(function(persons) {
                        const tableContent = document.getElementById("tableContent");
                        tableContent.innerHTML = '';

                        persons.forEach(function(person) {
                            const tableRowElement = document.createElement("tr");
                            let tdElement = document.createElement("td");
                            tdElement.textContent = person.id;
                            tableRowElement.appendChild(tdElement);
                            tdElement = document.createElement("td");
                            tdElement.textContent = person.firstName;
                            tableRowElement.appendChild(tdElement);
                            tdElement = document.createElement("td");
                            tdElement.textContent = person.lastName;
                            tableRowElement.appendChild(tdElement);
                            tdElement = document.createElement("td");
                            tdElement.textContent = person.personalNumber;
                            tableRowElement.appendChild(tdElement);
                            tdElement = document.createElement("td");
                            tdElement.textContent = person.address;
                            tableRowElement.appendChild(tdElement);
                            tdElement = document.createElement("td");
                            tdElement.innerHTML = '<a href="/persons/' + person.id + '">View profile</a>';
                            tableRowElement.appendChild(tdElement);

                            tableContent.appendChild(tableRowElement);
                        });

                        document.getElementById('searchContainer').className = '';
                        document.getElementById('searchTerm').innerHTML = searchTerm;
                    });
            };

            document.getElementById("searchButton").addEventListener("click", search);

            function onEnter(event) {
                if (event.key === 'Enter') {
                    search();
                }
            }

            const searchQueryInput = document.getElementById('searchInput');
            searchQueryInput.addEventListener('keyup', onEnter);
        });
    </script>
</div>

</body>
</html>
