<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello world</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Users</h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Personal Number</th>
            <th scope="col">Address</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person: ${persons}">
            <th scope="row" th:text="${person.id}"></th>
            <td th:text="${person.firstName}"></td>
            <td th:text="${person.lastName}"></td>
            <td th:text="${person.personalNumber}"></td>
            <td><a th:href="@{/persons/{id}(id=${person.id})}">View profile</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
