<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Service</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Scheduled services</h1>
    <table id="scheduled-services" class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
            <th>E-mail</th>
            <th>Car model</th>
            <th>Date</th>
            <th>Voucher</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="service: ${scheduledServices}">
            <td th:text="${service.id}"></td>
            <td th:text="${service.firstName}"></td>
            <td th:text="${service.lastName}"></td>
            <td th:text="${service.email}"></td>
            <td th:text="${service.carModel}"></td>
            <td th:text="${service.date}"></td>
            <td th:text="${service.voucher}"></td>
            <td><a th:href="@{'/voucher?email=' + ${service.email}}">Send new voucher</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>